<!DOCTYPE html>
<html> <head>
  <title>Display Times</title>
  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>
</head>
<body><div class = 'container'>
{% for item in items %}
  <h1> {{ item.datetime }} </h1>
  <div class="row">
    <div class="col-md-12"> 
    <table class="control_time_table">
        <tr>
    <th> Km </th>
    <th>Open</th>
    <th>Close</th>
    <th>Notes</th>
        </tr>
    {% for index in range(item.kms|length) %}
    <tr class="control">
      <!-- Dist (km) -->
      <td> {{ item.kms[index] }} </td>
      <!-- Open time (read only, set by JavaScript function -->
      <td> {{ item.opentimes[index] }} </td>
      <!-- Close time (read only, set by JavaScript function -->
      <td> {{ item.closetimes[index] }}</td>
      <!-- Notes (error messages for this row) -->
      <td class="notes"> &nbsp; </td>
    </tr>
    {% endfor %}
    </table>
    </div> <!-- col -->
    </div> <!-- row -->
{% endfor %}
<script>
  $(document).ready(function(){
   // Do the following when the page is finished loading

      $('input[name="miles"]').change(
         function() {
             var miles = parseFloat($(this).val());
             var km = (1.609344 * miles).toFixed(1) ;
             console.log("Converted " + miles + " miles to " + km + " kilometers");
             var control_entry = $(this).parents(".control")
             var target = control_entry.find("input[name='km']");
             target.val( km );
             // Then calculate times for this entry
             calc_times(control_entry);
          });

      $('input[name="km"]').change(
         function() {
             var km = parseFloat($(this).val());
             var miles = (0.621371 * km).toFixed(1) ;
             console.log("Converted " + km + " km to " + miles + " miles");
             var control_entry = $(this).parents(".control")
             var target = control_entry.find("input[name='miles']");
             target.val( miles );
             // Then calculate times for this entry
             calc_times(control_entry);
          });

     });   // end of what we do on document ready
</script>
</div></body>
</html>